<div class="beer-card">

    <div class="beer-name"> <h3>Name: {{this.name}}</h3> </div>
    <div class="beer-rate"> <p>Rate: {{this.description}}</p> </div>  
    <div class="beer-tagline"> <p>tagline:{{this.tagline}}</p> </div>
    <img src="{{this.image_url}}" alt=""></img>

</div>
    
