<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Beers Lab App</title>
  <link rel="stylesheet" href="stylesheets/styles.css">

</head>

<body>
    <nav class="navigation"> 
      <ul>
          <li><a href="/">home</a></li>
          <li><a href="beers">beers</a></li>
          <li><a href="randombeers">randombeers</a></li>
      </ul>
     </nav>

  {{{body}}}
</body>

</html>